{{ define "page" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <title>台島</title>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <link href="/static/style.css" rel="stylesheet" />
      <link rel="icon" type="image/svg+xml" href="/logo.svg/" />
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/3.0.1/modern-normalize.min.css"
        integrity="sha512-q6WgHqiHlKyOqslT/lgBgodhd03Wp4BEqKeW6nNtlOY4quzyG3VoQKFrieaCeSnuVseNKRGpGeDU3qPmabCANg=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
      <script
        src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"
      ></script>
    </head>

    <body>
      {{ template "body" . }}
    </body>
  </html>
{{ end }}
