{{define "header"}}
<a href="/"> 台島 </a>
{{end}}

{{define "main"}}
<h2>帳號</h2>
<form style="display: flex; flex-direction: column; gap: 8px;" hx-put="/setting/">
  <label>
    Email
    <input type="email" disabled value={{.email}} />
  </label>
  <label>
    名稱
    <input type="text" name="name" required value="{{.name}}" />
  </label>
  <label>
    訂閱<strong>台島</strong>更新電子報
    <input type="checkbox" name="subscribe" {{if .subscribe }}checked{{end}} />
  </label>
  <input type="submit" />
</form>
{{end}}
