{{ define "body" }}
  <main>
    <h1>🦋Bluesky動態源 <span style="color:#1083fe">#台灣人</span> 成員</h1>
    <section class="flex-v gap-1">
    <p>只有台灣人的動態源。只要發文輸入一次 <span style="color:#1083fe">#台灣人+1</span> 就會被加入。<br><br>任何回饋、需求或檢舉都在藍天上找到我。<a style="color:#1083fe" href="https://bsky.app/profile/xn--kprw3s.tw">台島</a><p/>
    </section>
    <ul class="flex-h justify-center flex-wrap list-style-none">
      {{ range . }}
        <li>
          <a
            href="https://bsky.app/profile/{{ .Handle }}"
            class="button button-soft"
          >
            <img class="size-3 rounded" src="{{ .Avatar }}" />
            <div>
              {{ if .DisplayName }}
                {{ .DisplayName }}
              {{ else }}
                {{ .Handle }}
              {{ end }}
            </div>
          </a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
