{{ define "body" }}
<body>
  <header>
    <a href="/sign-up/"> 註冊</a>
    <a href="/log-in/"> 登入</a>
  </header>
  <h1>
    台島
  </h1>
  <a href="/earthquake-master/">地震達人</a>
  <a href="/lau-lang/">落人</a>
</body>
{{ end }}
