{{ define "body" }}
  <main>
    <section class="flex-v gap-1 items-center">
      <img
        style="width:128px;margin-bottom:1rem"
        src="/static/tw-outline.svg/"
      />
      <h1>台島</h1>
      <p>台灣人的地盤</p>
    </section>
    <section class="flex-v gap-1 items-center">
      <a href="/bsky-taiwanese" class="button button-soft"
        >🦋Bluesky動態源 #台灣人 成員</a
      >
    </section>
  </main>
{{ end }}
