{{ define "body" }}
  <main>
    <h1>登入</h1>
    <div class="flex-v gap-1">
      <form class="flex-v gap-1" hx-post="/log-in-by-email/">
        <div class="input-group">
          <label for="email">電子郵件</label>
          <input
            id="email"
            autocomplete="email"
            name="email"
            type="email"
            required
            placeholder="you@example.com"
          />
        </div>
        <input class="button-primary" value="確認" type="submit" />
      </form>
      <ul id="error" class="error-msg"></ul>
      <p class="text-secondary text-center">
        還沒註冊嗎?
        <a href="/sign-up/" class="text-link">前往註冊</a>
      </p>
    </div>
  </main>
  <script>
    const fieldNameMap = {
      email: "電子郵件",
    };
    htmx.on("htmx:responseError", (e) => {
      switch (e.detail.xhr.status) {
        case 409:
          document.getElementById("username").classList.remove("input-error");
          document.getElementById("email").classList.remove("input-error");
          document.getElementById("error").innerHTML = "";
          const fields = e.detail.xhr.response.split(",");
          fields.forEach((field) => {
            document.getElementById(field).classList.add("input-error");
            const li = document.createElement("li");
            li.textContent = `你輸入的「${fieldNameMap[field]}」已經存在`;
            document.getElementById("error").appendChild(li);
          });
          break;
      }
    });
  </script>
{{ end }}
