{{ define "body" }}
  <main>
    <h1>登入</h1>
    <div class="flex-v gap-1">
      <form class="flex-v gap-1" hx-post="/log-in-by-email/">
        <div class="input-group">
          <label for="email">電子郵件</label>
          <input
            id="email"
            autocomplete="email"
            name="email"
            type="email"
            required
            placeholder="you@example.com"
          />
        </div>
        <input class="button-primary" value="確認" type="submit" />
      </form>
      <div id="error" class="error-msg"></div>
      <p class="text-secondary text-center">
        還沒註冊嗎?
        <a href="/sign-up/" class="text-link">前往註冊</a>
      </p>
    </div>
  </main>
  <script>
    htmx.on("htmx:responseError", (e) => {
      switch (e.detail.xhr.status) {
        case 404:
          document.getElementById("email").classList.add("input-error");
          document.getElementById("error").textContent =
            "你輸入的「Email」不存在";
          break;
      }
    });
  </script>
{{ end }}
