{{ define "body" }}
  <header></header>
  <main>
    <h1>驗證電子郵件</h1>
    <form hx-post="/verify-email/" class="flex-v gap-1">
      <div class="input-group">
        <label for="token">6位數驗證碼</label>
        <input
          pattern="[0-9]{6}"
          minlength="6"
          maxlength="6"
          id="token"
          name="token"
          required
          placeholder="123456"
        />
      </div>
      <input class="button-primary" value="確認" type="submit" />
    </form>
  </main>
{{ end }}
